body{
  font-family:arial;
  background:silver;
  min-height: 500px;
}
.container{
  width: 80%;
  margin: 50px auto auto auto;
  
}
.bg_gambar{
  background-color: #ffe1b0;
}
.bg_gambar img{
  width: 300px;
  height: 300px; 
 margin: auto;
}
.merk{
  background-color: #fcbfa9;
  color:lightyellow;
  font-weight:bold;
}
.alat_musik{
  background-color: lightcoral;
  color:lightgreen;
}

.harga{
  background-color: skyblue;
  color:red;
}
.cara_bermain{
  background-color: #5ced83;
  color:blue;
}
p {
  margin : 0;
  text-align: center;
}